/**
* Common Style Sheet
* Zemah hamerman site
*
* Copyright (c) 2016. by Way2CU, http://way2cu.com
* Authors:Tal Reznic, Iliya Melishev
*/

@section_spacing: 4rem;
@header_spacing: 1rem;
@paragraph_spacing: 1rem;
@button_padding: 0.5rem 1rem;
@input_padding: 0.5rem;
@finger_size: 2.5rem;

@color_red: #eb0900;
@color_bright_red: #fb6060;
@color_grey: #7a8592;
@color_bright_grey: #ecf0f1;
@color_text: black;
@color_dark_text: #4f4f4f;
@color_background: white;
@color_wa_green: #25D366;
@color_blue: #005A75;
@color_transparent: transparent;
@color_orange: #f6aa45;
@color_bright_orange: #ffb602;

@screen_height: 814px;
@screen_width: 454px;

@image_ratio: 0.665;

button[type="submit"],
.action {
	padding: 0.5em 1em;
	background: linear-gradient(@color_bright_red,@color_red);
	border-radius: 10px;
	color: white;
	font-weight: 700;
	text-decoration: none;
	border: 1px solid transparent;
	line-height: 100%;
	transition: all 0.3s;

	&:hover {
		background: linear-gradient(@color_red,@color_bright_red);
	}
}

.phone_button_style(@fill_color, @border_color) {
	background-color: @fill_color;
	border: 1px solid @border_color;
	border-radius: 50%;
	transition: all 0.3s;

	> svg {
		fill: @color_background;
	}

	&:hover > svg {
		transform: scale(0.9);
	}
}

.action_button_style() {
	background: linear-gradient(@color_bright_red, @color_red);
	padding: @button_padding;
	display: block;
	margin: 0 auto;

	text-decoration: none;
	color: @color_background;
	border-radius: 15px;
	transition: all 0.3s;

	&:hover,
	&:focus,
	&:active {
		background: linear-gradient(@color_red, @color_bright_red);
	}
}
