/**
 * Content mobile Style Sheet
 * Zemah hamerman site
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors: Tal Reznic, Iliya Melishev
 */

@image_ratio: 0.665;

@keyframes attention {
	0% {
		opacity: 0;
		right: -1.2rem;
	}

	10% {
		opacity: 1;
		right: 1rem;
	}

	20% {
		opacity: 0;
		right: 1rem;
	}

	30% {
		opacity: 1;
		right: 1rem;
	}

	40% {
		opacity: 0;
		right: 1rem;
	}

	50% {
		opacity: 1;
		right: 1rem;
	}

	60% {
		opacity: 0;
		right: 1rem;
	}

	70% {
		opacity: 1;
		right: 1rem;
	}

	80% {
		opacity: 0;
		right: 1rem;
	}

	90% {
		opacity: 1;
		right: 1rem;
	}

	100% {
		opacity: 0;
		right: 1rem;
	}
}

body.home {
	background-color: @color_text;
	background-image: url(../images/dots-background.jpg);
	background-repeat: no-repeat;
	background-position: center calc(~'100vw *' @image_ratio);
	background-size: 100% auto;
	height: calc(~'100vw *' (1266 / 1080));
	padding-top: 0;
}

div.slider {
	position: relative;
	height: calc(~'100vw *' @image_ratio);
	overflow: hidden;
	padding-top: 30px;
}

div.slider img {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	width: 100%;
	height: auto;
	transform: translatey(-50%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
}

div.slider img.visible {
	opacity: 1;
	visibility: visible;
}

div.slider a.show_project {
	position: absolute;
	top: 0.7em;
	left: 50%;
	transform: translatex(-50%);
	padding: 0.5em 1.5em;
	visibility: hidden;
	z-index: 100000000;
}

body.home section:not(.lightbox) {
	position: relative;
	text-align: center;
	height: 250px;
}

.about section,
.contact section,
.gallery section,
.video section,
.location section {
	background-color: @color_background;
	color: @color_text;
}

section h1 {
	margin: 0;
	color: @color_background;
	font-weight: 400;
	font-size: 1.5em;
}

section a.show_project {
	display: inline-block;
	margin-top: 0.5em;
	padding: 0.5em 3em;
	visibility: hidden;
}

section article {
	display: block;
	box-sizing: border-box;
	padding: 0em 1em;
}

div#controls {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 190px;
	height: 190px;
}

div#controls span.control {
	text-align: center;
	position: relative;
	color: lighten(@color_grey, 10%);
}

div#controls span.control.active {
	color: @color_background;
}

div#controls span.control:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	border: 1px solid white;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.3s;
}

div#controls span.control > span {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translatex(-50%);
	width: 200px;
}

div#controls span.control:first-of-type > span.center {
	top: -30px;
}

div#controls span.control > span.left {
	position: absolute;
	padding-left: 1em;
	left: 100%;
	top: 50%;
	transform: translatey(-50%);
	width: 90px;
	text-align: left;
}

div#controls span.control > span.left.bottom_center {
	top: -60%;
	left: unset;
	right: 0;
	transform: translate(50%, 60%);
	text-align: center;
	padding: 0;
}

div#controls span.control > span.right {
	position: absolute;
	padding-right: 1em;
	right: 100%;
	top: 50%;
	transform: translatey(-50%);
	width: 90px;
	text-align: right;
}

div#controls span.control.active:before {
	background-color: @color_red;
}

div#controls div.knob {
	position: absolute;
	top: 50%;
	left: 50%;
	background-image: url(../images/nobe.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 140px 140px;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

a.open_project {
	position: absolute;
	top: -1rem;
	left: 50%;
	transform: translateX(-50%);
	width: 70vw;

	text-align: center;
	text-decoration: none;
	transition: all 0.3s;

	&.action {
		top: -3rem;
		.action_button_style();
		padding: 0.5rem 4rem 0.5rem 0.5rem;
		box-sizing: border-box;

		h1 {
			margin-right: 1rem;
		}

		h1:before {
			vertical-align: center;
			content: 'לחצו';
			width: auto;
			height: auto;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -1.2rem;
			opacity: 0;
			font-weight: bold;

			animation-name: attention;
			animation-iteration-count: infinite;
			animation-duration: 6s;
			animation-delay: 0.5s;
		}
	}
}

/**
 * Contact page
 */
body.contact section {
	text-align: center;
	padding: 0.5em;
}

body.contact section img {
	display: block;
	width: 80%;
	margin: 0 auto;
}

body.contact.project section img {
	width: auto;
}

body.contact section h4 {
	text-align: center;
	margin-bottom: 0.5em;
}

body.contact section > h4:before {
	content: "";
	display: block;
	width: 80%;
	height: 1px;
	background-color: black;
	margin: 1em auto;
}

body.contact.project section > h4:before {
	display: none;
}

body.contact section a {
	font-size: 1.5em;
	text-align: center;

	&.phone.action {
		.action_button_style();
		width: 150px;
	}

	&.email.action {
		.action_button_style();
		width: 200px;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

body.contact section a svg {
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	padding-right: 0.5em;
	padding-bottom: 5px;
	fill: white;
}

/*
 *Form style
 */

div.form_container {
	display: block;
	width: 100%;
}

div.form_container h5 {
	margin-bottom: 0;
}

div.form_container form {
	display: block;
	width: 90%;
	margin: 0 auto;
}

div.form_container form label {
	display: block;
	width: 100%;
	padding-bottom: 0.5em;
	box-sizing: border-box;
}

div.form_container form label select,
div.form_container form label input {
	padding: 1em;
	border: 1px solid @color_grey;
	display: block;
	box-sizing: border-box;
	width: 100%;
}

div.form_container form label span {
	display: block;
	text-align: right;
}

div.form_container form label.checkbox {
	position: relative;
}

div.form_container form label.checkbox span {
	font-size: 1em;
	display: block;
	text-align: right;
	padding-right: 25px;
}

div.form_container form label.checkbox input {
	position: absolute;
	right: 0;
	top: 40%;
	transform: translatey(-50%);
	width: 20px;
	height: 15px;
	display: block;
}

div.form_container div.controls button{
	.action_button_style();
	padding: 0.8rem 1rem;
	border: 1px solid transparent;
	width: 150px;
	font-size: 1.3rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

/*
 *Projects Page
 */

.projects section {
	text-align: center;
	padding: 0.5em;
	padding-top: 2.5rem;
	background-color: @color_bright_grey;
}

.projects section div {
	border: 1px solid @color_bright_grey;
	width: 300px;
	margin: 0 auto;
	margin-bottom: 1em;
	box-shadow: 0px 0px 2px 0px @color_grey;
}

.projects section div img {
	display: block;
	margin: 0 auto;
}

.projects section div a {
	display: inline-block;
	margin: 0.5em auto;

	&.action {
		.action_button_style();
		width: 100px;
		margin-bottom: 0.5rem;
	}
}

/*
 *Projects nav
 */

nav#project_nav {
	display: block;
	width: 100%;
	text-align: center;
	background-color: @color_bright_grey;
	position: relative;
}

nav#project_nav a {
	display: inline-block;
	vertical-align: middle;
	padding: 1em 0em;
	text-align: center;
	width: calc(~'100% / 6');
	text-decoration: none;
	color: @color_grey;

	&.drone svg {
		transform: scaleX(1.4);
	}

	&:focus,
	&:active {
		background-color: @color_red;
		color: white;
		svg {
			fill: white;
		}
	}

	&.phone svg {
		transform: scale(1.5);
	}
}

nav#project_nav a.active {
	background-color: @color_red;
	color: @color_background;
}

nav#project_nav a svg {
	width: 1.5em;
	height: 1.5em;
	fill: @color_grey;
	display: block;
	margin: 0 auto;
}

nav#project_nav a.active svg {
	fill: @color_background;
}

/*
 *Project About page
 */

.about section {
	background-repeat: no-repeat;
	position: relative;
	padding: 2rem 2rem 70px 2rem;
}

.about section > a.show_more {
	display: block;
	text-decoration: none;
	text-align: right;
	margin-left: auto;
	margin-right: auto;
	padding: 0.5em 0em;
	background-color: fade(@color_background, 90%);
	color: @color_text;
	font-size: 1.2em;
	position: relative;
	visibility: hidden;
	opacity: 0;
	outline: none;
}

.about section > a.slogan {
	position: relative;
	background: linear-gradient(@color_bright_red, @color_red);
	padding: @button_padding;
	display: block;
	margin: 0 auto;
	margin-top: 0.5rem;
	width: 60%;
	text-align: center;

	text-decoration: none;
	color: @color_background;
	border-radius: 15px;
	transition: all 0.3s;

	&:active {
		background: linear-gradient(@color_red, @color_bright_red);
	}
}

// .about section:before {
// 	content: " ";
// 	display: block;
// 	width: 100%;
// 	position: absolute;
// 	top: 360px;
// 	left: 0;
// 	right: 0;
// 	background: linear-gradient(0deg, @color_background, transparent);
// 	height: 200px;
// 	z-index: 0;
// }

.about section article {
	background-color: fade(@color_background, 90%);
	display: block;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	padding: 0.5em;
	box-shadow: 0px 0px 2px 0px @color_bright_grey;
	position: relative;
	overflow: hidden;
	transition: all 0.3s;
}

.about section article h2 {
	color: @color_text;
}

.about section article p {
	margin: 0;
	font-size: 1.2em;
}

.about section article a {
	color: @color_grey;
}

.about div.dialog {
	z-index: 1000002;
	width: 90%;
	min-height: 100px;

	div.content {
		max-height: 80vh;
		min-height: 100px;

		.accessibility_article {
			padding: 1rem;
			padding-top: 2rem;

			article > p {
				color: @color_dark_text;
				line-height: 1.3;
				font-size: 1.4rem;

				a {
					color: @color_blue;
					transition: all 0.3s;

					&:focus,
					&:active {
						text-decoration: none;
					}
				}
			}
		}

		div.command_bar {
			position: absolute;
			top: -10px;

			a.close {
				font-size: 1.5rem;
				padding: 0.5rem 0.7rem;
				background: linear-gradient(@color_bright_red, @color_red);

				&:hover,
				&:focus,
				&:active {
					background: linear-gradient(@color_red, @color_bright_red);
				}
			}
		}
	}
}

/*
 *Project gallery page
 */

.gallery section > a {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 0.2em 0;
}

.gallery section > a img {
	display: block;
	margin: 0 auto;
}

/*
 *Project video page
 */

body.video section div.video {
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 1rem 0rem;
}

/*
 *Project location page
 */

div#map {
	width: 100vw;
	height: 500px;
}

a.waze {
	position: fixed;
	display: inline-block;
	top: 50%;
	left: 0;
	padding: 0.5em;
	transform: translatey(-50%);
	z-index: 10000;

	background-color: @color_bright_grey;
	box-shadow: 0px 0px 10px darken(@color_grey, 30%);
}

a.waze svg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 2.5em;
	height: 2.5em;
}

/*
 * Dialog
 */

body.contact div.dialog {
	top: 40%;
	transform: translate(-50%, -40%) perspective(1000px) rotate3d(1, 0, 0, 90deg);
}

div.dialog.visible div.title {
	text-align: center;

	color: darken(@color_background, 60);
	background-color: @color_background;
}

div.dialog div.content {
	background-color: @color_background;
	color: darken(@color_background, 50);

	div.inner_content {
		text-align: center;
		font-size: 1.2rem;
		padding: 1rem 0rem;

		.accessibility_article {
			padding: 1rem;
			padding-top: 2rem;

			article {
				color: @color_dark_text;

				li {
					font-size: 1.4rem;
				}

				> p {
					color: @color_dark_text;
					line-height: 1.3;
					font-size: 1.4rem;
				}

				a {
					color: @color_blue;
					transition: all 0.3s;

					&:hover,
					&:focus,
					&:active {
						text-decoration: none;
					}
				}
			}
		}
	}

	div.command_bar {
		padding-top: 1rem;
		margin-bottom: 0.4rem;

		a.close {
			padding: 0.5em 2em;
			background: linear-gradient(lighten(@color_bright_orange, 25),@color_bright_orange);
			border-radius: 15px;
			text-shadow: 1px 1px 1px lighten(@color_text, 50);
			transition: all 0.3s;

			&:focus {
				background: linear-gradient(@color_bright_orange,lighten(@color_bright_orange, 25));
			}
		}
	}
}

body.accessibility {
	div#content {
		padding-top: 0;

		section.accessibility {
			min-height: 420px;
			padding: 1rem;
			background-color: @color_background;
			color: @color_text;

			article {
				padding: 0;

				li {
					font-size: 1.3rem;
					color: @color_dark_text;
				}

				p {
					font-size: 1.3rem;
					line-height: 1.2;
					color: @color_dark_text;
				}

				a {
					color: @color_blue;
					transition: all 0.3s;

					&:hover,
					&:focus,
					&:active {
						text-decoration: none;
					}
				}
			}
		}
	}
}
