/**
 * Font Definitions
 * Site Name
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: 
 */

@font-face {
	font-family: 'Arimo';
	font-weight: 700;
	src: url(../images/fonts/arimo.woff2) format('woff2');
}

@font-face {
	font-family: 'fontbit';
	font-weight: 400;
	src: url(../images/fonts/fbspoileren-regular-webfont.woff) format('woff');
}
