/**
 * Footer mobile Style Sheet
 * Zemah hamerman site
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors:Tal Reznic, Iliya Melishev
 */

footer {
	background-color: black;
	text-align: center;
	position: relative;
	padding-bottom: 100px;
}

body.home footer {
	background-color: transparent;
}

footer > a {
	text-decoration: none;
	color: @color_background;
	font-weight: 700;
	padding: 1em 1em;
}

footer nav a {
	display: inline-block;
	vertical-align: middle;
	padding: 0.5em 0.8em;
	position: relative;
	box-sizing: border-box;
	position: relative;
	transition: all 0.3s;

	color: white;
	text-decoration: none;
	font-weight: 700;

	&:hover {
		color: @color_red;
	}

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		right: calc(~'100% - 2px');
		transform: translatey(-50%);
		width: 1px;
		height: 1em;
		background-color: @color_background;
	}

	&:last-of-type:after {
		content: none;
	}

	&.active {
		text-decoration: underline;
	}
}

footer nav:nth-child(1) {
	margin-bottom: 1rem;
	padding: 0rem 1rem;
}

footer nav:nth-child(1) a {
	width: auto;
	padding: 0.5em;
	font-size: 1.2em;

	&:last-of-type:after {
		content: "";
	}

	&:nth-child(1):before,
	&:nth-child(3):before {
		content: "";
		position: absolute;
		top: 50%;
		left: calc(~'100% - 2px');
		transform: translatey(-50%);
		width: 1px;
		height: 1em;
		background-color: @color_background;
	}
}

footer nav:nth-child(2) a {
	box-sizing: border-box;
}

footer div.copyright {
	display: inline-block;
	padding-left: 40px;
	color: @color_background;
	font-family: arial, sans-serif;
	background-size: 30px 30px;
	background-position: 5px center;
	font-size: 0.8rem;
}

footer div.copyright.light a,
footer div.copyright.light {
	color: white;
}

