/**
 * Mobile header Style Sheet
 * Zemah hamerman site
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors:Tal Reznic, Iliya Melishev, Vladimir Anusic
 */


div.mobile_title {
	background-color: fade(@color_text, 50%);
	padding: 0.5rem 0rem;
	text-align: left;

	&.visible a.menu svg {
		transform: rotate(90deg);
		transition: all 0.3s;
	}
}

div.mobile_title a svg {
	display: block;
	width: 1.7em;
	height: 1.7em;
	fill: @color_background;
	transition: all 0.3s;
}

div.mobile_title a {
	display: inline-block;
	vertical-align: middle;

	padding: 0.3rem;
	margin: 0 0.5rem;

	&.email {
		.phone_button_style(@color_orange, @color_transparent);
		transition: all 0.3s;
		transform: scale(0.9);
		padding: 0.5rem;
	}

	&.phone {
		.phone_button_style(@color_blue, @color_transparent);
	}

	&.wa_link {
		.phone_button_style(@color_wa_green, @color_transparent);
	}

	&.logo_symbol {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		transition: all 0.3s;

		&:active {
			> svg {
				transform: scale(0.85);
			}
		}
	}
}

div.mobile_title h1 {
	position: absolute;
	left: 0;
	right: 0;
	height: 26px;
	bottom: -42px;
	padding: 0.5rem 0rem;
	margin: 0;
	font-size: 1.5em;
	font-weight: 400;
	text-align: center;
	background-color: fade(@color_text, 50);
	color: @color_background;
}

nav.mobile_menu {
	right: -100%;
	top: 103px;
	height: 100vh;
	text-align: center;
	background-color: @color_grey;
	overflow-y: scroll;
}

body.home nav.mobile_menu {
	top: 66px;
}

nav.mobile_menu.visible {
	right: 0;
	width: 100%;
}

nav.mobile_menu a {
	display: block;

	padding: 1.2em 1em;
	font-weight: 700;
	color: @color_background;
	border-bottom: 1px solid @color_background;
}

nav.mobile_menu a.active {
	background-color: @color_red;
}