/**
 * Main Style Sheet
 * Zemah hamerman site
 *
 * Copyright (c) 2016. by Way2CU, http://way2cu.com
 * Authors: Tal Reznic
 */

@import (reference) 'common.less';
@import (reference) 'stock/functions.less';
@import 'fonts.less';
@import "header_mobile.less";
@import "content_mobile.less";
@import "footer_mobile.less";
@import (css)'stock/copyright.css';

body {
	color: @color_background;
	background-color: @color_text;
	font-family: 'fontbit', sans-serif;
	padding-top: 110px;
}

input,
select,
textarea,
button {
	font-weight: 400;
	font-family: 'fontbit', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Arimo', sans-serif;
	font-weight: 700;
	margin: 0;
	margin-bottom: @header_spacing;
	padding: 0;
}

p {
	margin: 0;
	margin-bottom: @paragraph_spacing;
	padding: 0;
}


